<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">快捷操作</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="__ROOT__/Home/Turnover/addIndex"><img src="__PUBLIC__/images/iconfont-jiaoyi.png" class="img-responsive"></a>
            <h4>新单</h4>
            <span class="text-muted">创建一份交易单</span>

        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="__ROOT__/Home/Customer/addIndex"><img src="__PUBLIC__/images/iconfont-tianjiakehu.png" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h4>创建客户</h4>
            <span class="text-muted">快速创建一个客户</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><img src="__PUBLIC__/images/iconfont-renwu.png" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h4>创建任务</h4>
            <span class="text-muted">快速分配任务</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><img src="__PUBLIC__/images/iconfont-baobiao.png" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h4>查看报表</h4>
            <span class="text-muted">查看最近销售情况</span>
        </div>
    </div>
    <include file="./Customer/indexTemplet"/>
</div>