<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<h2 class="sub-header">任务</h2>
        <a class="btn btn-primary" href="__ROOT__/Home/Customer/add" role="button">新建任务</a>
    <div class="table-responsive col-md-12">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th class="col-md-1">编号</th>
                <th class="col-md-1">客户姓名</th>
                <th class="col-md-1">电话</th>
                <th class="col-md-3">地址</th>
                <th class="col-md-1">品牌机型</th>
                <th class="col-md-2">问题描述</th>
                <th class="col-md-1">师傅</th>
                <th class="col-md-2">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>李先生</td>
                <td>159999536550</td>
                <td>高明区三洲碧桂园xx座</td>
                <td>松乐</td>
                <td>升降坏</td>
                <td>洪</td>
                <td><a href="javascript:;">详细</a>&nbsp;<a href="javascript:;">删除</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>李先生</td>
                <td>159999536550</td>
                <td>高明区三洲碧桂园xx座</td>
                <td>松乐</td>
                <td>升降坏</td>
                <td>洪</td>
                <td><a href="javascript:;">详细</a>&nbsp;<a href="javascript:;">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>