<include file="../Common/IndexHeader"/>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">任务</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-md-1">序号</th>
                <th class="col-md-1">客户姓名</th>
                <th class="col-md-2">电话</th>
                <th class="col-md-4">地址</th>
                <th class="col-md-2">品牌机型</th>
                <th class="col-md-2">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1,001</td>
                <td>王先生</td>
                <td>159999536550</td>
                <td>高明区三洲碧桂园xx座</td>
                <td>松乐</td>
                <td><a href="javascript:;">详细</a>&nbsp;<a href="javascript:;">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<include file="../Common/IndexFooter"/>