<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">账单</h2>
    <div class="btn-group-lg col-md-12 sub-header" role="group" aria-label="">
        <a class="btn btn-primary" href="__ROOT__/Home/Turnover/addIndex" role="button">新增交易</a>
        <button type="button" class="btn btn-success">交易完成</button>
        <button type="button" class="btn btn-warning">批量备注</button>
        <button type="button" class="btn btn-danger">批量删除</button>
    </div>
    <div class="table-responsive col-md-12">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th class="col-md-0.2"></th>
                <th class="col-md-1">单号</th>
                <th class="col-md-1">购买类型</th>
                <th class="col-md-1.2">机型*数量</th>
                <th class="col-md-1">应付款</th>
                <th class="col-md-1">已付款</th>
                <th class="col-md-1">保修期至</th>
                <th class="col-md-1">客户姓名</th>
                <th class="col-md-1">电话</th>
                <th class="col-md-2.6">地址</th>
            </tr>
            </thead>
            <tbody>
            <volist name="turnovers" id="vo">
            <tr >
                <td><input type="checkbox"></td>
                <td><a href="edit?oddNum={$vo['oddnum']}">{$vo['oddnum']}</a></td>
                <td>{$vo['transactiontype']}</td>
                <td>{$vo['producttype']}*{$vo['transactionnum']}</td>
                <td class="{$vo['status_code']}">{$vo['total']}</td>
                <td class="{$vo['status_code']}">{$vo['alreadycollection']}</td>
                <td>{$vo['period']|substr=0,10}</td>
                <td><a href="__ROOT__/Home/Customer/editIndex?id={$vo['customernum']}">{$vo['customername']}</a></td>
                <td>{$vo['customerphone']}</td>
                <td>{$vo['customeraddress']}{$vo['customeraddressdetail']}</td>
            </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <nav class="text-center col-md-12">
        <ul class="pagination pagination-lg">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>
</div>
<script src="__PUBLIC__/js/varrantyperiodConvert.js"></script>