<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">账单</h2>
    <div class="table-responsive col-md-12">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th class="col-md-1">单号</th>
                <th class="col-md-1">购买类型</th>
                <th class="col-md-1">机型*数量</th>
                <th class="col-md-1">应付款</th>
                <th class="col-md-1">已付款</th>
                <th class="col-md-1">保修期至</th>
                <th class="col-md-1">客户姓名</th>
                <th class="col-md-1">电话</th>
                <th class="col-md-2">地址</th>
            </tr>
            </thead>
            <tbody>
            <volist name="turnovers" id="vo">
            <tr>
                <td><a href="edit?oddNum={$vo['oddnum']}">{$vo['oddnum']}</a></td>
                <td>{$vo['transactiontype']}</td>
                <td>{$vo['producttype']}*{$vo['transactionnum']}</td>
                <td>{$vo['total']}</td>
                <td>{$vo['alreadycollection']}</td>
                <td>{$vo['period']|substr=0,10}</td>
                <td><a href="__ROOT__/Home/Customer/editIndex?id={$vo['customernum']}">{$vo['customername']}</a></td>
                <td>{$vo['customerphone']}</td>
                <td>{$vo['customeraddress']}{$vo['customeraddressdetail']}</td>
            </tr>
            </volist>
            </tbody>
        </table>
    </div>
</div>
<script src="__PUBLIC__/js/varrantyperiodConvert.js"></script>