<include file="../Common/IndexHeader"/>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">客户信息</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="customerName" class="col-sm-1 control-label">客户姓名</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="customerName" placeholder="">
            </div>

        </div>
        <div class="form-group">
            <label for="customerPhone" class="col-sm-1 control-label">电话</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="customerPhone" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="customerAddress" class="col-sm-1 control-label">地址</label>
            <div class="col-sm-2">
                <select class="form-control">
                    <option>荷城街道</option>
                    <option>西江新城</option>
                    <option>杨和</option>
                    <option>明城</option>
                    <option>更合</option>
                    <option>非高明区</option>
                </select>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="customerAddress" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="customerAddress" class="col-sm-1 control-label">品牌机型</label>
            <div class="col-sm-2">
                <select class="form-control">
                    <option>松乐</option>
                    <option>松乐</option>
                    <option>松乐</option>
                    <option>松乐</option>
                    <option>松乐</option>
                    <option>松乐</option>
                </select>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-default">添加</button>
            </div>
        </div>
        <div class="form-group">
            <label for="customerAddress" class="col-sm-1 control-label">客户行业</label>
            <div class="col-sm-2">
                <select class="form-control">
                    <option>家庭使用</option>
                    <option>酒店</option>
                    <option>茶馆</option>
                    <option>棋牌室</option>
                    <option>士多</option>
                </select>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-default">添加</button>
            </div>
        </div>
        <div class="form-group">
            <div class=" col-sm-offset-1 col-sm-1">
                <a class="btn btn-default" href="javascript :;" onClick="javascript :history.back(-1);" role="button">取消</a>
            </div>
            <div class=" col-sm-1">
                <button type="submit" class="btn btn-primary">添加</button>
            </div>

        </div>
    </form>
</div>
<include file="../Common/IndexFooter"/>