<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">客户信息</h2>
    <form class="form-horizontal" action="__ROOT__/Home/Customer/add" method="post">
        <div class="form-group">
            <label for="customerName" class="col-sm-1 control-label">客户姓名</label>
            <div class="col-sm-4">
                <input type="text" name="customerName" class="form-control" id="customerName" placeholder="">
            </div>

        </div>
        <div class="form-group">
            <label for="customerPhone" class="col-sm-1 control-label">电话</label>
            <div class="col-sm-4">
                <input type="number" name="customerPhone" class="form-control" id="customerPhone" placeholder="">
            </div>
        </div>
        <div class="form-group tagInput" data-target="customerAddressDetail">
            <volist name="addtags" id="vo">
                <span class="label label-primary">{$vo.content}</span>
            </volist>
        </div>
        <div class="form-group">
            <label for="customerAddressDetail" class="col-sm-1 control-label">地址</label>
            <div class="col-sm-2">
                <select class="form-control" name="customerAddress">
                    <volist name="adds" id="vo">
                        <option>{$vo.address}</option>
                    </volist>
                </select>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="customerAddressDetail" name="customerAddressDetail" placeholder="">
            </div>
        </div>
        <div class="form-group tagInput" data-target="customerProductType">
            <volist name="producttypes" id="vo">
                <span class="label label-primary">{$vo.producttype}</span>
            </volist>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">品牌机型</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="customerProductType" name="customerProductType" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">客户行业</label>
            <div class="col-sm-2">
                <select class="form-control" name="customerIndustry">
                    <volist name="industrys" id="vo">
                        <option>{$vo['industry']}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class=" col-sm-offset-1 col-sm-1">
                <a class="btn btn-default" href="javascript :;" onClick="javascript :history.back(-1);" role="button">取消</a>
            </div>
            <div class=" col-sm-1">
                <button type="submit" class="btn btn-primary">添加</button>
            </div>

        </div>
    </form>

    <script src="__PUBLIC__/js/tagInput.js"></script>
</div>