<include file="../Common/IndexHeader"/>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">客户信息</h2>
    <form class="form-horizontal" action="__ROOT__/Home/Customer/edit?id={$data['id']}" method="post">
        <div class="form-group">
            <label for="customerName" class="col-sm-1 control-label">客户姓名</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="customerName" name="customerName" placeholder="" value="{$data['customername']}">
            </div>

        </div>
        <div class="form-group">
            <label for="customerPhone" class="col-sm-1 control-label">电话</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="customerPhone" name="customerPhone" placeholder="" value="{$data['customerphone']}">
            </div>
        </div>
        <div class="form-group">
            <label for="customerAddress" class="col-sm-1 control-label">地址</label>
            <div class="col-sm-2">
                <select class="form-control" name="customerAddress">
                    <option>{$data['customeraddress']}</option>
                    <option>荷城街道</option>
                    <option>西江新城</option>
                    <option>杨和</option>
                    <option>明城</option>
                    <option>更合</option>
                    <option>非高明区</option>
                </select>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="customerAddressDetail" name="customerAddressDetail" placeholder="" value="{$data['customeraddressdetail']}">
            </div>
        </div>
        <div class="form-group">
            <label for="customerProductType" class="col-sm-1 control-label">品牌机型</label>
            <div class="col-sm-2">
                <select class="form-control" id="customerProductType" name="customerProductType">
                    <option>{$data['customerproducttype']}</option>
                    <option>松乐</option>
                </select>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-default">添加</button>
            </div>
        </div>
        <div class="form-group">
            <label for="customerIndustry" class="col-sm-1 control-label">客户行业</label>
            <div class="col-sm-2">
                <select class="form-control" id="customerIndustry" name="customerIndustry">
                    <option>{$data['customerindustry']}</option>
                    <option>家庭使用</option>
                    <option>酒店</option>
                    <option>茶馆</option>
                    <option>棋牌室</option>
                    <option>士多</option>
                </select>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-default">添加</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1 col-sm-offset-1">
                <button type="button" class="btn btn-default">取消</button>
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-primary">修改</button>
            </div>
        </div>
    </form>
</div>
<include file="../Common/IndexFooter"/>