<h2 class="sub-header">客户资料</h2>
    <a class="btn btn-primary" href="__ROOT__/Home/Customer/addIndex" role="button">添加客户</a>
<div class="table-responsive col-md-12">
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th class="col-md-1">序号</th>
            <th class="col-md-1">客户姓名</th>
            <th class="col-md-1">电话</th>
            <th class="col-md-3">地址</th>
            <th class="col-md-1">品牌机型</th>
            <th class="col-md-1">行业</th>
            <th class="col-md-2">操作</th>
        </tr>
        </thead>

        <tbody>
        <volist name="customers" id="vo">
        <tr>
            <td>{$vo['id']}</td>
            <td><a href="__ROOT__/Home/Customer/editIndex?id={$vo['id']}">{$vo['customername']}</a> </td>
            <td>{$vo['customerphone']}</td>
            <td>{$vo['customeraddress']}{$vo['customeraddressdetail']}</td>
            <td>{$vo['customerproducttype']}</td>
            <td>{$vo['customerindustry']}</td>
            <td><a href="__ROOT__/Home/Customer/editIndex?id={$vo['id']}">详细</a>&nbsp;<a href="__ROOT__/Home/customer/del?id={$vo['id']}">删除</a></td>
        </tr>
        </volist>
        </tbody>
    </table>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    确定删除{$result['oddnum']}订单?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">不</button>
                    <a href="curd.html?action=del&oddNum={$result['oddnum']}" class="btn btn-danger">确定删除</a>
                </div>
            </div>
        </div>
    </div>
</div>